.body{
background-image: url(./images/geometric-abstract.gif);
background-repeat: repeat;
}
.cars{
    padding: 15px; /* JUST TO LOOK COOL */
 
    /* box-shadow: -3px 6px 5px 0px rgba(176,164,176,1); */
  transition: all .3s ease-in-out;
}
.cars:hover{
    box-shadow: -3px 18px 20px 0px rgba(99,89,99,1);
    transform: translate3d(0px, -5px, 0px);
}